{% extends 'layout.html.twig' %}

{% block content %}
<div class="success-page">
    <h1>Password Changed</h1>
    <div class="message message-success">
        Your password has been updated successfully.
    </div>
    <div class="actions">
        <a href="/webmail" class="btn btn-primary">Sign In</a>
        <a href="/" class="btn btn-secondary">Home</a>
    </div>
</div>
{% endblock %}
