{% extends 'layout.html.twig' %}

{% block content %}
<div class="page-form">
    <h1>Contact</h1>
    <div class="content-block">
        <p>For abuse reports, contact: <code>abuse@{{ primary_domain }}</code></p>
        <p>For general inquiries: <code>support@{{ primary_domain }}</code></p>
    </div>
</div>
{% endblock %}
