{% extends 'layout.html.twig' %}

{% block content %}
<div class="page-form">
    <h1>Terms of Service</h1>
    <div class="content-block">
        <p>By using this service, you agree to:</p>
        <ul class="trust-list">
            <li>Not send spam or malicious content</li>
            <li>Not use the service for illegal activities</li>
            <li>Accept that accounts may be suspended for abuse</li>
        </ul>
        <p style="color: var(--text-muted); margin-top: 1rem;">
            This service is provided "as is" without warranty.
        </p>
    </div>
</div>
{% endblock %}
