{% extends 'webmail/layout.html.twig' %}

{% block content %}
<div class="compose-view">
    <h1>Message Sent</h1>
    <div class="message message-success">Your message has been sent.</div>
    <p><a href="/webmail/inbox" class="btn btn-primary">Back to Inbox</a></p>
</div>
{% endblock %}
